<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台管理系統</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body>
    <!-- 圖表 -->
    <section>
      <div class="container py-[60px]">
        <h1 class="mb-[98px] text-[28px] font-normal text-center">
          全產品類別營收比重
        </h1>
        <div id="chart"></div>
      </div>
    </section>
  </body>
</html>
