<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台管理系統</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body>
    <!-- header -->
    <header class="font-NotoSansTC border-b-[40px] border-black py-9">
      <div class="container flex justify-between items-center">
        <a class="text-[24px] font-bold" href="#">WOWOROOM</a>
        <ul class="flex gap-10 justify-end">
          <li>
            <a class="p-2 hover:text-purple-hover" href="#">後台管理</a>
          </li>
          <li>
            <a class="p-2 hover:text-purple-hover" href="#">管理員登入</a>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
