<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的購物車</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body>
    <!-- 購物車區塊 -->
    <section class="bg-[#F8F8F8] font-NotoSansTC">
      <div class="container pt-10 pb-20">
        <h2 class="text-[28px] text-center mb-8 font-normal leading-10">
          我的購物車
        </h2>
        <!-- 購物車列表 -->
        <div
          class="overflow-x-scroll lg:overflow-x-hidden max-w-[920px] mx-auto"
        >
          <table
            class="w-[920px] table-auto text-left text-xl border-spacing-[20px]"
          >
            <thead>
              <tr>
                <th
                  class="font-normal whitespace-nowrap pr-5 md:w-[40%] w-[15%]"
                >
                  品項
                </th>
                <th
                  class="font-normal whitespace-nowrap pr-5 md:w-[15%] w-[10%]"
                >
                  單價
                </th>
                <th
                  class="font-normal whitespace-nowrap pr-5 md:w-[15%] w-[5%]"
                >
                  數量
                </th>
                <th
                  class="font-normal whitespace-nowrap pr-5 md:w-[15%] w-[10%]"
                >
                  金額
                </th>
                <th width="15%"></th>
              </tr>
            </thead>
            <tbody class="text-xl">
              <tr>
                <td class="border-b border-[#BFBFBF] py-5 pr-5">
                  <div class="flex items-center">
                    <img
                      class="w-20 h-20"
                      src="https://hexschool-api.s3.us-west-2.amazonaws.com/custom/Tx99wDepg56aO5dGH7uGpU7REZwQLd1W0ec43M6cFw3o3z4eXTbeovq8WVseZ476BntlQnPPzaqkZgoj7xITviHMqf0kiAetjxyvuLiTmr7WdulcL364MTL321qZRJkP.png"
                      alt="商品圖片"
                    />
                    <span class="font-normal ml-4">Charles 系列儲物組合</span>
                  </div>
                </td>
                <td class="border-b border-[#BFBFBF] py-5 pr-5">
                  <span class="block">NT$780</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5 pr-5">
                  <span>1</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5 pr-5">
                  <span class="block">NT$780</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5 text-center">
                  <button>
                    <img src="../images/icon-delete.svg" alt="刪除" />
                  </button>
                </td>
              </tr>
              <tr>
                <td class="border-b border-[#BFBFBF] py-5 pr-5">
                  <div class="flex items-center">
                    <img
                      class="w-20 h-20"
                      src="https://hexschool-api.s3.us-west-2.amazonaws.com/custom/VYPOpg83Jg7Ft5raI0eyzs6xSz0ttKzSJSklFq7il0HdwJ1iQ9kLHAU19rmkSapmyzRErTm1sxWO725W7CnowkRjwxgSyyRBo1ihGLwNbfYtgbo2nCTY9sarjqoxQbYX.png"
                      alt="商品圖片"
                    />
                    <span class="font-normal inline-block ml-4"
                      >Antony 雙人床架／雙人加大</span
                    >
                  </div>
                </td>
                <td class="border-b border-[#BFBFBF] py-5">
                  <span>NT$12,000</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5">
                  <span>1</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5">
                  <span>NT$12,000</span>
                </td>
                <td class="border-b border-[#BFBFBF] py-5 text-center">
                  <button>
                    <img src="../images/icon-delete.svg" alt="刪除" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 刪除所有商品 -->
        <div
          class="max-w-[920px] mx-auto flex justify-between items-center mt-5"
        >
          <button
            class="py-[10px] px-5 border border-black rounded-[4px] sm:text-xl text-sm hover:bg-black hover:text-white"
          >
            刪除所有商品
          </button>
          <div
            class="max-w-[280px] flex justify-between items-center gap-5 sm:gap-10 md:gap-20 hover:bg-white"
          >
            <span class="sm:text-xl text-sm">總金額</span>
            <span class="sm:text-[28px] text-lg">NT$24,780</span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
