<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="font-NotoSansTC">
      <div class="container mt-12">
        <h2 class="text-[1.75rem] text-center">家具比較</h2>
        <ul
          class="max-w-[47.5rem] flex flex-col mx-auto mt-8 text-sm lg:text-[1.25rem] text-nowrap"
        >
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center"></li>
              <li class="w-40 h-7 text-center">窩窩系統模組家具</li>
              <li class="w-40 h-7 text-center text-gray-dark">組合式家具</li>
              <li class="w-40 h-7 text-center text-gray-dark">實木家具</li>
            </ul>
          </li>
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center">可單人自行組裝</li>
              <li class="w-40 h-7 text-center">
                <span
                  class="material-symbols-outlined text-purple-hover w-[1.875rem]"
                >
                  done
                </span>
              </li>
              <li class="w-40 h-7 text-center text-gray-dark">不一定</li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
            </ul>
          </li>
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center">可多次重複拆裝</li>
              <li class="w-40 h-7 text-center">
                <span
                  class="material-symbols-outlined text-purple-hover w-[1.875rem]"
                >
                  done
                </span>
              </li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
            </ul>
          </li>
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center">床墊規格彈性大</li>
              <li class="w-40 h-7 text-center">
                <span
                  class="material-symbols-outlined text-purple-hover w-[1.875rem]"
                >
                  done
                </span>
              </li>
              <li class="w-40 h-7 text-center text-gray-dark">不一定</li>
              <li class="w-40 h-7 text-center text-gray-dark">不一定</li>
            </ul>
          </li>
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center">材質可長久使用</li>
              <li class="w-40 h-7 text-center">
                <span
                  class="material-symbols-outlined text-purple-hover w-[1.875rem]"
                >
                  done
                </span>
              </li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
            </ul>
          </li>
          <li>
            <ul
              class="flex gap-[1.875rem] justify-center border border-transparent border-b-gray-dark p-3"
            >
              <li class="w-40 h-7 text-center">小客車即可搬運</li>
              <li class="w-40 h-7 text-center">
                <span
                  class="material-symbols-outlined text-purple-hover w-[1.875rem]"
                >
                  done
                </span>
              </li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
              <li class="w-40 h-7 text-center text-gray-dark"></li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
