<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>features</title>
  </head>
  <body>
    <section class="font-NotoSansTC">
      <div class="container mt-[3.75rem]">
        <h2 class="text-[1.75rem] text-center">床墊優勢</h2>
        <ul
          class="flex flex-wrap justify-center gap-[1.875rem] text-[1.25rem] mt-7"
        >
          <li>
            <img
              src="../../public/images/features/photo-1582282577230-2f59c636e60b.png"
              alt="log"
            />
            <p class="text-center mt-2">原木料環保</p>
          </li>
          <li>
            <img
              src="../../public/images/features/photo-1560164301-6ac46d2d61c4.png"
              alt="storage"
            />
            <p class="text-center mt-2">好收納</p>
          </li>
          <li>
            <img
              src="../../public/images/features/photo-1560846389-e4e6d764cd61.png"
              alt="DIY"
            />
            <p class="text-center mt-2">好組裝</p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
