<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表單填寫</title>
    <link rel="stylesheet" href="../styles/output.css" />
  </head>
  <body>
    <section class="font-NotoSansTC">
      <div class="container pt-[60px] pb-20">
        <h2 class="mb-8 text-center text-[28px] leading-10">填寫預訂資料</h2>
        <form id="guestForm" class="max-w-[350px] mx-auto">
          <!-- 客戶填寫姓名 -->
          <div class="form-group relative mb-5">
            <label class="inline-block mb-[6px]" for="guestName">姓名</label>
            <input
              class="block w-full py-2 pl-3 outline-none border-[1.5px] border-gray-light rounded"
              type="text"
              name="guestName"
              id="guestName"
              placeholder="請輸入姓名"
            />
            <!-- 驗證沒過的錯誤訊息 -->
            <div class="messages mt-1">
              <span
                class="errorShowAboveTabletLayout hidden md:block absolute bottom-2 left-[102%] whitespace-nowrap text-red-error"
                >必填！</span
              >
              <span
                class="errorShowUnderTabletLayout md:hidden block text-red-error"
                >必填！</span
              >
            </div>
          </div>
          <!-- 客戶填寫電話 -->
          <div class="form-group relative mb-5">
            <label class="inline-block mb-[6px]" for="guestPhone">電話</label>
            <input
              class="block w-full py-2 pl-3 outline-none border-[1.5px] border-gray-light rounded"
              type="phone"
              name="guestPhone"
              id="guestPhone"
              placeholder="請輸入電話"
            />
            <!-- 驗證沒過的錯誤訊息 -->
            <div class="messages mt-1">
              <span
                class="errorShowAboveTabletLayout hidden md:block absolute bottom-2 left-[102%] whitespace-nowrap text-red-error"
                >必填！</span
              >
              <span
                class="errorShowUnderTabletLayout md:hidden block text-red-error"
                >必填！</span
              >
            </div>
          </div>
          <!-- 客戶填寫 Email -->
          <div class="form-group relative mb-5">
            <label class="inline-block mb-[6px]" for="guestEmail">Email</label>
            <input
              class="block w-full py-2 pl-3 outline-none border-[1.5px] border-gray-light rounded"
              type="email"
              name="guestEmail"
              id="guestEmail"
              placeholder="請輸入 Email"
            />
            <!-- 驗證沒過的錯誤訊息 -->
            <div class="messages mt-1">
              <span
                class="errorShowAboveTabletLayout hidden md:block absolute bottom-2 left-[102%] whitespace-nowrap text-red-error"
                >必填！</span
              >
              <span
                class="errorShowUnderTabletLayout md:hidden block text-red-error"
                >必填！</span
              >
            </div>
          </div>
          <!-- 寄送地址 -->
          <div class="form-group relative mb-5">
            <label class="inline-block mb-[6px]" for="guestAddress"
              >寄送地址</label
            >
            <input
              class="block w-full py-2 pl-3 outline-none border-[1.5px] border-gray-light rounded"
              type="address"
              name="guestAddress"
              id="guestAddress"
              placeholder="請輸入寄送地址"
            />
            <!-- 驗證沒過的錯誤訊息 -->
            <div class="messages mt-1">
              <span
                class="errorShowAboveTabletLayout hidden md:block absolute bottom-2 left-[102%] whitespace-nowrap text-red-error"
                >必填！</span
              >
              <span
                class="errorShowUnderTabletLayout md:hidden block text-red-error"
                >必填！</span
              >
            </div>
          </div>
          <!-- 交易方式 -->
          <div class="form-group relative mb-5">
            <label class="inline-block mb-[6px]" for="paymentMethod"
              >交易方式</label
            >
            <select
              class="w-full py-2 px-3 border-[1.5px] border-gray-light rounded outline-none"
              name="paymentMethod"
              id="paymentMethod"
            >
              <option value="atm">ATM</option>
              <option value="credit_card">信用卡</option>
              <option value="convenience_store">超商付款</option>
            </select>
          </div>
          <button
            class="block mx-auto mt-12 py-2.5 px-[68px] bg-black text-[20px] text-white rounded"
            type="submit"
          >
            送出預定資料
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
