<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="font-NotoSansTC">
      <div class="container mt-8">
        <div
          class="bg-[url('../../public/images/landing/photo-1552848469-b4c949fdded7.png')] bg-cover bg-no-repeat min-h-[420px] relative"
        >
          <h2 class="text-[32px] text-white absolute bottom-12 left-[52px]">
            窩窩家居<br />
            跟您一起品味生活
          </h2>
        </div>
      </div>
    </section>
  </body>
</html>
