<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>products</title>
  </head>
  <body>
    <section class="font-NotoSansTC">
      <div class="container">
        <select
          name="products"
          id=""
          class="mt-[4.5rem] w-[255px] h-[38px] py-1 px-3 border border-grey-light rounded-md"
        >
          <option value="收納">收納</option>
          <option value="床架">床架</option>
          <option value="窗簾">窗簾</option>
        </select>
        <ul class="mt-8 flex flex-wrap gap-[30px] justify-center">
          <li>
            <div class="relative">
              <span
                class="min-w-[88px] min-h-[44px] bg-black text-white inline-flex justify-center items-center absolute top-3 left-[171px]"
                ><span
                  class="text-lg text-center leading-none relative bottom-[3px]"
                  >新品</span
                ></span
              >
              <img
                src="../../public/images/products/photo-1549388604-817d15aa0110-3.png"
                alt=""
              /><button
                type="button"
                class="w-[255px] h-12 bg-black text-white text-xl"
              >
                加入購物車
              </button>
              <p class="text-xl my-2">Antony 雙人床架 / 雙人加大</p>
              <p class="text-xl line-through">NT$18,000</p>
              <p class="text-[28px]">NT$12,000</p>
            </div>
          </li>
          <li>
            <div class="relative">
              <span
                class="min-w-[88px] min-h-[44px] bg-black text-white inline-flex justify-center items-center absolute top-3 left-[171px]"
                ><span
                  class="text-lg text-center leading-none relative bottom-[3px]"
                  >新品</span
                ></span
              >
              <img
                src="../../public/images/products/photo-1549388604-817d15aa0110-3.png"
                alt=""
              /><button
                type="button"
                class="w-[255px] h-12 bg-black text-white text-xl"
              >
                加入購物車
              </button>
              <p class="text-xl my-2">Antony 雙人床架 / 雙人加大</p>
              <p class="text-xl line-through">NT$18,000</p>
              <p class="text-[28px]">NT$12,000</p>
            </div>
          </li>
          <li>
            <div class="relative">
              <span
                class="min-w-[88px] min-h-[44px] bg-black text-white inline-flex justify-center items-center absolute top-3 left-[171px]"
                ><span
                  class="text-lg text-center leading-none relative bottom-[3px]"
                  >新品</span
                ></span
              >
              <img
                src="../../public/images/products/photo-1549388604-817d15aa0110-3.png"
                alt=""
              /><button
                type="button"
                class="w-[255px] h-12 bg-black text-white text-xl"
              >
                加入購物車
              </button>
              <p class="text-xl my-2">Antony 雙人床架 / 雙人加大</p>
              <p class="text-xl line-through">NT$18,000</p>
              <p class="text-[28px]">NT$12,000</p>
            </div>
          </li>
          <li>
            <div class="relative">
              <span
                class="min-w-[88px] min-h-[44px] bg-black text-white inline-flex justify-center items-center absolute top-3 left-[171px]"
                ><span
                  class="text-lg text-center leading-none relative bottom-[3px]"
                  >新品</span
                ></span
              >
              <img
                src="../../public/images/products/photo-1549388604-817d15aa0110-3.png"
                alt=""
              /><button
                type="button"
                class="w-[255px] h-12 bg-black text-white text-xl"
              >
                加入購物車
              </button>
              <p class="text-xl my-2">Antony 雙人床架 / 雙人加大</p>
              <p class="text-xl line-through">NT$18,000</p>
              <p class="text-[28px]">NT$12,000</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
