<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="font-NotoSansTC bg-purple-bg">
      <div class="container text-center pt-[3.75rem] pb-20">
        <h2 class="text-white text-[2.5rem]">好評推薦</h2>
        <ul class="flex flex-col gap-5 mt-8 overflow-hidden">
          <li>
            <ul class="flex gap-[1.875rem]">
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1576354302919-96748cb8299e.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 2.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>王六角</p>
                      <p class="text-purple-hover">Jodan 雙人床架</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">CP值很高。</p>
                </div>
              </li>
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1549388604-817d15aa0110-1.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 3.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>Leaf</p>
                      <p class="text-purple-hover">Antony 雙人床架</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">很喜歡～還有送三年保固～</p>
                </div>
              </li>
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1565620731358-e8c038abc8d1-1.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 5.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>美濃鄧子琪</p>
                      <p class="text-purple-hover">Charles 系列儲物組合</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">廚房必備美用品！</p>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <ul class="flex gap-[1.875rem]">
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1549388604-817d15aa0110-1.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 1.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>小杰</p>
                      <p class="text-purple-hover">Louvre 雙人床架</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">非常舒適，有需要會再回購</p>
                </div>
              </li>
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1576354302919-96748cb8299e.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 3-1.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>江八角</p>
                      <p class="text-purple-hover">Charles 雙人床架</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">品質不錯～</p>
                </div>
              </li>
              <li class="flex bg-white min-w-[21.875rem] h-24 gap-4">
                <img
                  src="../../public/images/recommendation/mobile/photo-1600607687126-8a3414349a51.png"
                  alt=""
                />
                <div class="py-3">
                  <div class="flex gap-2 text-start">
                    <img
                      src="../../public/images/recommendation/mobile/Ellipse 6.png"
                      alt=""
                      class="w-10 h-10"
                    />
                    <div>
                      <p>juni讚神</p>
                      <p class="text-purple-hover">Antony 床邊桌</p>
                    </div>
                  </div>
                  <p class="text-start mt-1">讚ㄉ！</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
